/* !anchar pseudo class selector */
/* un visited means purple */
/* a:link{
    color: black;
    
} */
/* active means red */
/* a:active{
    
    color: yellow;
} */
/*  visited means blue */
/* a:visited{
   
    color: teal;
} */

/* !hover */
/* div{
    display: flex;
    justify-content: center;
    align-items: center;
}
p:hover{
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    right:0px ;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
} */



/*! focus */

/* input[type="text"]{
    width: 100px;
    transition: 0.35s ease-in-out;

}

input:focus{
    width: 250px;

} */

/*! first Child */


ul>li:first-child{
    background-color: red;
}

ul>li:last-child{
    background-color: green;
}

ul>li:nth-child(2){
    border: 10px solid teal;
}

ul>li:nth-child(3){
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted turquoise;
    border-radius: 50%;

}
ul>li:nth-child(4){
    outline: 2px solid salmon;
    outline-offset:3px ;
    margin: 20px;
    
}
ul>li:nth-child(5){
    background-image: url("./image/trees-8512979_640.jpg");
    width: 300px;
    height: 300px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.492);

}

ul>li:nth-child(5):hover{
    position: relative;
    left: 500px;
    transition: all 2s;
}