*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


/* a{
    text-decoration: none;
    padding: 20px 50px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 9px;
    display: inline-block;
    margin: 100px;
} */